/* font style here */
body{
    font-family: 'Open Sans', sans-serif;
}
/* Shared style here */
.btn-primary{
color: white;
background-color: #FD6E0A;
border-radius: 2%;
font-size: 20px;
font-weight: 700;
border: none;
padding: 18px 35px;
}
.atittle1{
color:  #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}
/* nav style start here */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;

}
.nav-logo{
color: black;
font-size: 45px;
font-weight: 800;

}
.logo-text{
    color:#FD6E0A;
}
nav >ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right:50px ;
}
nav a{
    text-decoration: none;
    font-size: 22px;
} 
/* nav style end here */
/* header area start here */
.header-area{
    background: #FFF8F3;
    background: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.header-content{
    padding: 30px 30px 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-img img{
    width: 500px;
}
.htittle1{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;


}
.htittle2{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0px;
}
.hpara1{
    color:#757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
/* header area end here */
/* Main area Star here */
main{
    max-width: 1140px;
    margin: auto;
}
        /* About part */

.about{
    padding: 100px;
    border-radius: 10px;
    background: #fcf0e8;
    margin: 150px 0px;
}

.apara1{
    color:#757575;
    text-align: center;
    font-size: 16px;


}
.about-info-container{
    display: flex;
    justify-content: space-between;
}
.info-tittle{
color:  #757575;
font-size: 15px;
font-weight: 400;
margin-bottom: 0px;
text-align: center;

}
.info-text{
color:#474747;
font-size: 18px;
font-weight: 700;
margin-top: 0px;


}

/* what i do section */
#what-section{
    padding: 30px 150px;
}
.skill-container{
    display: flex;
    gap: 24px;
    background-color: #ebebeb;
}
.skill{
    padding: 30px;
    background-color: white;
}
.skill-tittle{
    color: #181818;
font-family: Open Sans;
font-size: 20px;
font-weight: 700;

}
.skill-text{
color: #757575;
font-size: 16px;
line-height: 28px;
}

/* Main area end here */