.three h2{
    color: blue;
}
#blog h3{
    color: hwb(111 0% 14%);
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.box1{
    background-color: aqua;
    display: block;
}
.box2{
    background-color: rgb(0, 255, 60);
    display: block;
}
.box3{
    background-color: rgb(255, 179, 0);
    display: block;
}
