*{
    margin: 0;
    padding: 0;
}
header{
    margin-top: 40px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav h3{
    font-size: 30px;
}
nav>ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    font-size: 22px;
    color: #424247;
}
span {
    color: #FD6E0A;
}

/* ------------------------------- */
.banner-section{
    text-align: center;
   background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./img/banner.png');
   background-repeat: no-repeat;
   background-position:  center center;
   background-size: cover;
   padding: 100px 0;
   margin-top: 40px;
   border-radius: 5px;

}
.banner-area-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 700px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  
  

}
.banner-section h4{
color: #FFF;
font-family: Mulish;
font-size: 55px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.banner-section p{
    color: #d6d5d5;

    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 30px 0px;
}


input{
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    
}

select { 
    padding:10px 30px; 
    border: none;
    border-radius: 5px;
}
.btn{
    padding:10px 30px; 
    border: none;
    border-radius: 5px; 
background: #FF5400;
color: white;
cursor: pointer;
font-weight: bold;

}
/* ------------------------------------- */

.our-tour{
    margin-top: 60px;
    margin-bottom: 60px;
display: flex;

justify-content: space-around;
gap: 100px;
}
.our-tour p{
    margin-bottom: 50px;
}
.our-tour h2{
    margin-bottom: 20px;
}
.tittle{
color: #131318;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.para,ul{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
ul{
    margin: 0px 20px 30px 20px;
}
/* -------------------------- */
.destination{
    text-align: center;
}
.destination h2{
    margin-bottom: 20px;
}
.destination p{
    margin-bottom: 30px;
}
.dfirst{
    display: flex;
    flex-wrap: wrap;
   gap: 10px;
   margin-bottom: 9px;
}
.dsecond{
    display: flex; flex-wrap: wrap;
    gap: 17px;
    grid-template-columns: 20% 50% 30%;
    margin-bottom: 9px;
  
}
.dthird{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* -------------------------- */
.chose-us{
margin-top: 60px;
margin-bottom: 30px;
}
.ttfirst{
    text-align: center;
}
.ttfirst p{ margin-bottom: 40px;
}
.choseus-box{
    display: flex;
   
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 15px;
    
}
.chose-one{
    border-radius: 16px;
    padding: 50px;
    width: 600px;

border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.chose-two{
    width: 600px;
    border-radius: 16px;
    padding: 50px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.chose-three{
    margin: 0 auto;
    width: 600px;
    padding: 50px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    
}