* {
    margin: 0;
    padding: 0;
}

/* Header section start here */
.container {
    width: 1320px;
    margin: 50px auto;

}

.main-tittle {
    color: #070211;
    font-size: 48px;

}
.btn{
border-radius: 8px;
background: #F00;
color: white;
padding: 15px 32px;
border: none;
text-align: center;
font-size: 17px;
text-transform: uppercase;

}

.new-year {
    background:  linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('./img/Banner\ Image.png');
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 16px;

}

.new-tittle1 {
    text-align: center;
    color: white;
    padding-top: 190px;
    font-size: 32px;
    margin-bottom: 15px;

}

.new-tittle2 {
    text-align: center;
    color: white;
    padding-bottom: 170px;
    font-size: 72px;

}

/* discount section  start here*/
.discount-section {
    text-align: center;
    color: #F00;
}

.discounttittle-1 {

    font-size: 88px;
    margin-bottom: 20px;
}

.discounttittle-2 {

    font-size: 24px;
    margin-bottom: 15px;
}

.disimag {
    margin-top: 50px;
}




/* Header section end here */
/* Main section start here */
.welcome{
    background: linear-gradient(20deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('./img/Vectorrr.png'),url('./img/year.png');
    background-repeat: no-repeat;
    background-position: center center, top right;
    border-radius: 16px;
    padding: 125px;
    margin-top: 80px;

}
.wel-tittle2{
    color: white;
    
    font-size: 72px;
}
.welcome p{
    color: rgba(255, 255, 255, 0.80);
font-size: 18px;
line-height: 30px;
margin-bottom: 25px;
}
/* join now section start here */
.join-now{
    text-align: center;
    color: black;
    font-size: 32px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 130px 0px 150px 0px;
    margin-top: 80px;
    line-height: 50px;
    
}
.join-now span{
    color: #F00;
}
.join-now .btn{
    margin-top: 50px;
}








/* Main section end here */
/* footer section start here */




/* footer section end here */